In [1]:
import torch
from torch.utils.data import DataLoader, Dataset
import numpy as np
import pandas as pd

# Loading structured dataset

In [2]:
df = pd.read_csv('https://gist.githubusercontent.com/netj/8836201/raw/6f9306ad21398ea43cba4f7d537619d0e07d5ae3/iris.csv')
df.sample(5)

     sepal.length  sepal.width  petal.length  petal.width     variety
137           6.4          3.1           5.5          1.8   Virginica
99            5.7          2.8           4.1          1.3  Versicolor
77            6.7          3.0           5.0          1.7  Versicolor
7             5.0          3.4           1.5          0.2      Setosa
38            4.4          3.0           1.3          0.2      Setosa

In [6]:
df['variety'].unique()

array(['Setosa', 'Versicolor', 'Virginica'], dtype=object)

In [12]:
class Iris(Dataset):
  def __init__(self, target_col_name='variety'):
    self.df = pd.read_csv('https://gist.githubusercontent.com/netj/8836201/raw/6f9306ad21398ea43cba4f7d537619d0e07d5ae3/iris.csv')
    x = self.df.drop(target_col_name, axis=1).to_numpy()
    self.x = torch.from_numpy(x)

    replacement_dict = {'Setosa': 0, 'Versicolor': 1, 'Virginica': 2}
    y = self.df[target_col_name].replace(replacement_dict).to_numpy()
    self.y = torch.from_numpy(y)
  def __getitem__(self, index):
    return self.x[index], self.y[index]

  def __len__(self):
    return self.df.shape[0]

In [13]:
df.shape

(150, 5)

In [14]:
iris_data = Iris()
len(iris_data)

150

In [15]:
iris_data_loader = DataLoader(iris_data, batch_size=8)

In [16]:
for data in iris_data_loader:
  x, y = data
  print(f"independant col data: {x}, \n target_col: {y}")
  break

independant col data: tensor([[5.1000, 3.5000, 1.4000, 0.2000],
        [4.9000, 3.0000, 1.4000, 0.2000],
        [4.7000, 3.2000, 1.3000, 0.2000],
        [4.6000, 3.1000, 1.5000, 0.2000],
        [5.0000, 3.6000, 1.4000, 0.2000],
        [5.4000, 3.9000, 1.7000, 0.4000],
        [4.6000, 3.4000, 1.4000, 0.3000],
        [5.0000, 3.4000, 1.5000, 0.2000]], dtype=torch.float64),
 target_col: tensor([0, 0, 0, 0, 0, 0, 0, 0])

In [17]:
iris_data_loader = DataLoader(iris_data, batch_size=8, shuffle=True)

In [18]:
for data in iris_data_loader:
  x, y = data
  print(f"independant col data: {x}, \n target_col: {y}")
  break

independant col data: tensor([[4.9000, 3.6000, 1.4000, 0.1000],
        [6.4000, 3.1000, 5.5000, 1.8000],
        [4.8000, 3.0000, 1.4000, 0.1000],
        [5.5000, 4.2000, 1.4000, 0.2000],
        [6.2000, 3.4000, 5.4000, 2.3000],
        [6.7000, 3.0000, 5.0000, 1.7000],
        [5.9000, 3.0000, 4.2000, 1.5000],
        [6.4000, 2.8000, 5.6000, 2.2000]], dtype=torch.float64),
 target_col: tensor([0, 2, 0, 0, 2, 1, 1, 2])